<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                客户信息 <small>查看/添加/更改客户资料</small>
            </h1>
            <ol class="breadcrumb">
              <li><i class="fa fa-fw fa-database"></i> 数据中心</li>
              <li class="active">客户</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>使用提示：</strong>
                在这里您可以查看客户资料，点击客户资料表的表头可以对资料进行排序，点击每一行的编辑按钮可以对该客户资料进行编辑，点击删除按钮可以删除客户资料。
            </div>
        </div>
    </div>
    <!-- /.row -->

{{!-- using bootstrap-for-ember
    <h2>客户列表</h2>
    <div class="row" {{bind-attr style="editButtonsStyle"}}>
      <div class="col-lg-12">
        {{bs-button clicked='create' type='primary' icon='fa fa-fw fa-plus' title='新增'}}
        {{bs-button clicked='edit' type='primary' icon='fa fa-fw fa-edit' title='修改' disabled='disableEditAndRemove'}}
        {{bs-button clicked='remove' type='danger' icon='fa fa-fw fa-trash' title='删除' disabled='disableEditAndRemove'}}
        <p></p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-6">
        <h3>修改客户资料</h3>
        {{#em-form form_layout='horizontal' model=editingClient submit_button=false}}
            {{em-input label='姓名' property='name'}}
            {{em-input label='地址' property='address'}}
            {{em-input label='电话' property='phone'}}
            {{em-input label='Email' property='email' type='email'}}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button {{action 'acceptChanges'}} class="btn btn-primary"><i class="fa fa-fw fa-save"></i>保存</button>
                <button {{action 'cancel'}} class="btn btn-primary"><i class="fa fa-fw fa-close"></i>放弃</button>
              </div>
            </div>
        {{/em-form}}
      </div>
    </div>
    <!-- /.row -->
--}}

    <h2>客户列表</h2>
    <div class="row" {{bind-attr style="editButtonsStyle"}}>
      <div class="col-lg-12">
        <button {{action 'create'}} type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i>新增</button>
        <button {{action 'edit'}} {{bind-attr disabled="disableEditAndRemove"}} type="button" class="btn btn-primary"><i class="fa fa-fw fa-edit"></i>修改</button>
        <button {{action 'remove'}} {{bind-attr disabled="disableEditAndRemove"}} type="button" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i>删除</button>
        <p></p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row" {{bind-attr style="editFormStyle"}}>
      <div class="col-lg-6">
        <h3>修改客户资料</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
              {{input type="text" class="form-control" id="inputName" value=editingClient.name}}
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress" class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
              {{input type="text" class="form-control" id="inputAddress" value=editingClient.address}}
            </div>
          </div>
          <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">电话</label>
            <div class="col-sm-10">
              {{input type="text" class="form-control" id="inputPhone" value=editingClient.phone}}
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              {{input type="text" class="form-control" id="inputEmail" value=editingClient.email}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button {{action 'acceptChanges'}} class="btn btn-primary"><i class="fa fa-fw fa-save"></i>保存</button>
              <button {{action 'cancel'}} class="btn btn-primary"><i class="fa fa-fw fa-close"></i>放弃</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
            <thead>
              <tr>
                <th>#</th>
                <th>姓名 <i class="fa fa-sort"></i></th>
                <th>地址 <i class="fa fa-sort"></i></th>
                <th>电话 <i class="fa fa-sort"></i></th>
                <th>Email <i class="fa fa-sort"></i></th>
              </tr>
            </thead>
            <tbody id="client-list">
              {{#each}}
              <tr>
                <td>{{view Ember.RadioButton name="clientSelection" selection=this.controller.selectedId valueBinding="id"}}</td>
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td>{{phone}}</td>
                <td>{{email}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- /.row -->

</div>
